
body {
  height:1700px;
  background-image: linear-gradient(#184E68, #57CA85);
}

table {
  border-collapse: collapse;
  align-content: center;
  width:80%;
}
tr {
 border:1px solid white; 
}
.center-list {
  margin:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center-form {
  color:white;
  margin:auto;
  margin-left:50%
}
#location {
  background-color:#1DB954;
  color:white;
  border-radius:25px;
}